#opcoes-navbar{
    display: none;
}

#titulo-site{
    display: none;
}

#container-imagem-logo{
    width: 20%;
}

#menu-hamburger{
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;

}

#menu-hamburger img{
    display: inline-block;
    position: relative;
    object-fit: cover;
    width: 80%;
    height: 60%;
}

.titulo{
   margin: 20px 0;
   font-size: 1.5em; 
}